body {margin:0;}

main {
	max-width: 100%;
	margin: 0 auto;
}

/* START NAVIGATION BAR */

nav {
  overflow: hidden;
  background-color: #F39C12; /* ORANGE */
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: #1C2833; /* BLACK */
  color: white;
}

nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
	nav a:not(:first-child) {display: none;}
	nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
	nav.responsive {position: relative;}
	nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
	nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

a {
   text-decoration: none;
}



/* END NAVIGATION BAR */


.banner {
 max-width: 100%;
}

/* Create three equal columns that floats next to each other */
section {
    float: left;
    width: 30.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    section {
        width: 100%;
    }
} 

/* --------- Basic responsive breakpoint --------- */

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2em;
  }
  /* shows the tab text and the icons: */
  label span {
    display: inline;
  }
}
/* START FOOTER DESIGN*/
footer
{
  float: center;
  display: block;
  position: bottom;
  color: black;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 25px;
  text-decoration: none;
  font-size: 17px;
  background-color: #F39C12; /* ORANGE */
}
/* END FOOTER DESIGN*/

